<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hello Cryptscrape!</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/phoenix.css") %>">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/new-age.css") %>">


  </head>

  <body id="page-top">

      <header class="header">
        <nav class="navbar navbar-expand-lg navbar-dark>
          <a class="navbar-brand" href="">ICORUMORS</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation" style="">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav mr-auto">
              <%= if @current_user do %>
              <li class="nav-item active">
                <a class="nav-link" href="<%= page_path @conn, :index %>">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item active"><a class="nav-link" href="<%= user_path @conn, :index %>">Users</a></li>
              <li class="nav-item active"><a class="nav-link" href="<%= domain_path @conn, :index %>">List All Domains</a></li>
              <li class="nav-item active"><a class="nav-link" href="<%= domain_path @conn, :watch_index %>">Watch These</a></li>
              <li class="nav-item active"><a class="nav-link" href="<%= domain_path @conn, :potential_index %>">Potential Matches</a></li>
              <li class="nav-item active"><a class="nav-link" href="<%= domain_path @conn, :direct_index %>">Direct Matches</a></li>
              <li class="nav-item active"><a class="nav-link" href="<%= user_path(@conn, :show, @current_user.id) %>"><%= @current_user.email %></a></li>
              <li class="nav-item active"><%= link "Logout", to: session_path(@conn, :delete, @current_user), method: :delete %></li>
              <% else %>
              <li class="nav-item active">
                <a class="nav-link" href="<%= page_path @conn, :index %>">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="<%= page_path @conn, :features %>">Features</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="<%= page_path @conn, :pricing %>">Pricing</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="<%= page_path @conn, :faq %>">FAQ</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="<%= page_path @conn, :about %>">About</a>
              </li>
              <li><a href="<%= session_path @conn, :new %>">Login</a></li>
              <% end %>



            </ul>
            <form class="form-inline my-2 my-lg-0">
              <input class="form-control mr-sm-2" placeholder="Search" type="text">
              <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
            </form>
          </div>
        </nav>

      </header>

      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>


    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
