<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>ICO Rumors.io</title>
    <!-- Bootstrap CSS CDN -->
    <script type="text/javascript" src="<%= static_path(@conn, "/js/jquery-3.3.1.min.js") %>"></script>

    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/phoenix.css") %>">
    <style>
    .navbar-global {
      background-color: indigo;
    }

    .navbar-global .navbar-brand {
      color: white;
    }

    .navbar-global .navbar-user > li > a
    {
      color: white;
    }

    .navbar-primary {
        opacity: 0.7;
      background-color: #6A5ACD;
      bottom: 0px;
      left: 0px;
      position: fixed;
      top: 0px; /* 51 */
      margin-top: 150px!important;
      width: 60px;
      z-index: 8;
      height: 360px;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      overflow: hidden;
      -webkit-transition: all 0.1s ease-in-out;
      -moz-transition: all 0.1s ease-in-out;
      transition: all 0.1s ease-in-out;
    }

    .navbar-primary.collapsed {
      width: 200px;
    }

    .navbar-primary.collapsed .glyphicon {
      font-size: 22px;
    }

    .navbar-primary .nav-label {
      display: none;
    }

    .navbar-primary:hover{
      opacity: 0.9!important;
      height: 560px!important;
    }

      .navbar-primary:hover #overlay3{
        display: block!important;
      }




    .navbar-primary:hover .nav-label {
      opacity: 1;
      display: inline-block;
    }

    .navbar-primary:hover .side{
      margin-left: 0px!important;
      width: 30%!important;
    }

    .navbar-primary:hover + main{
      margin-left: 200px!important;
    }

    main{
      margin-left: 60px;
    }

    .btn-expand-collapse {
        position: absolute;
        display: block;
        left: 0px;
        bottom:0;
        width: 100%;
        padding: 8px 0;
        border-top:solid 1px #333;
        color: grey;
        opacity: 0.8;
        font-size: 20px;
        text-align: center;
    }

    .btn-expand-collapse:hover,
    .btn-expand-collapse:focus {
        background-color: #222;
        color: white;
    }

    .btn-expand-collapse:active {
        background-color: #111;
    }

    .navbar-primary-menu,
    .navbar-primary-menu li {
      margin:0; padding:0;
      list-style: none;

    }

    .navbar-primary-menu li a {

      display: block;
      padding: 10px 18px;
      text-align: left;
      border-bottom:solid 1px #444;
      color: #ccc;
    }

    .navbar-primary-menu li a:hover {
      background-color: #000;
      opacity: 1;
      text-decoration: none;
      color: white;
    }

    .navbar-primary-menu li a .side {
      margin-right: 6px;
      width: 100%!important;
    }

    .navbar-primary-menu li a:hover .glyphicon {
      color: orchid;
    }

    main{
      margin-top: 60px;
      padding: 20px;
    }


    .navbar-primary:hover{
      width: 200px;
    }

    .side{
      filter: invert(100%);
      margin-left: 0px!important;
      width: 100%!important;
    }

    .title{
      position: absolute;
      margin-left: 12%;
    }

    .sub-title{
      margin-top: 50px;
      margin-left: 30%;
    }
    #overlay3 {
        position: fixed; /* Sit on top of the page content */
        display: none;
        margin-left: 0px;
        margin-top: 100px;/* Hidden by default */
        width: 100%; /* Full width (cover the whole page) */
        height: 100%; /* Full height (cover the whole page) */
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        -webkit-transition: padding 2s;
        background-color: rgba(0,0,0,0.1); /* Black background with opacity */
        z-index: -1!important; /* Specify a stack order in case you're using a different order for other elements */
        cursor: pointer; /* Add a pointer on hover */
        transition: color 0.5s linear; /* vendorless fallback */
   -o-transition: color 0.5s linear; /* opera */
   -ms-transition: color 0.5s linear; /* IE 10 */
   -moz-transition: color 0.5s linear; /* Firefox */
   -webkit-transition: color 0.5s linear; /*safari and chrome */
   background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 100%);   /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(130,91,0,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(0,0,0,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(0,0,0,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#6A5ACD',GradientType=0 ); /* IE6-9 */
    }
    </style>
  </head>
      <body>
        <%= if @conn.request_path !== "/" do %>
        <%= if @conn.request_path !== "/sessions/new" do %>
        <header>
          <div class="container">
          <h2 class="title"> ICORumors.IO </h2>
          <h5 class="sub-title"> Where to go before the coin drops </h5>
        </div>
          <nav class="navbar-primary">
            <ul class="navbar-primary-menu">
              <%= if @current_user do %>
              <%= if @current_user.auth_level == false || @current_user.auth_level == nil do %>
              <li>
                <a href="<%= page_path @conn, :index %>"><img class="side" src="<%= static_path(@conn, "/images/icons/svg/home.svg") %>"><span class="nav-label">Home</span>
                </a>
                <a href="<%= domain_path @conn, :index %>"><img class="side" src="<%= static_path(@conn, "/images/icons/svg/globe.svg") %>"><span class="nav-label">All Domains</span>
                </a>
                <a href="<%= domain_path @conn, :direct_index %>"><img class="side" src="<%= static_path(@conn, "/images/icons/svg/lightbulb.svg") %>"><span class="nav-label">Related</span>
                </a>
                <a href="<%= domain_path @conn, :potential_index %>"><img class="side" src="<%= static_path(@conn, "/images/icons/svg/heart.svg") %>"><span class="nav-label">Perfect</span>
                </a>
                <a href="<%= domain_path @conn, :watch_index %>"><img class="side" src="<%= static_path(@conn, "/images/icons/svg/circle-growth.svg") %>"><span class="nav-label">Plausible</span>
                </a>
                <a href="<%= user_path(@conn, :show, @current_user.id) %>"><img class="side" src="<%= static_path(@conn, "/images/icons/svg/group.svg") %>"><span class="nav-label">Profile</span>
                </a>
                <a href="<%= session_path(@conn, :delete2, @current_user) %>"><img class="side" src="<%= static_path(@conn, "/images/icons/svg/power.svg") %>"><span class="nav-label">Logout</span>
                </a>
              </li>
              <% else %>
              <li>
                <a href="<%= page_path @conn, :index %>"><img class="side" src="<%= static_path(@conn, "/images/icons/svg/home.svg") %>"><span class="nav-label">Home</span>
                </a>
                <a href="<%= domain_path @conn, :index %>"><img class="side" src="<%= static_path(@conn, "/images/icons/svg/globe.svg") %>"><span class="nav-label">All Domains</span>
                </a>
                <a href="<%= domain_path @conn, :direct_index %>"><img class="side" src="<%= static_path(@conn, "/images/icons/svg/lightbulb.svg") %>"><span class="nav-label">Related</span>
                </a>
                <a href="<%= domain_path @conn, :potential_index %>"><img class="side" src="<%= static_path(@conn, "/images/icons/svg/heart.svg") %>"><span class="nav-label">Perfect</span>
                </a>
                <a href="<%= domain_path @conn, :watch_index %>"><img class="side" src="<%= static_path(@conn, "/images/icons/svg/circle-growth.svg") %>"><span class="nav-label">Plausible</span>
                </a>
                <a href="<%= user_path(@conn, :show, @current_user.id) %>"><img class="side" src="<%= static_path(@conn, "/images/icons/svg/group.svg") %>"><span class="nav-label">Profile</span>
                </a>
                <a href="<%= user_path(@conn, :admin, @current_user.id) %>"><img class="side" src="<%= static_path(@conn, "/images/icons/svg/settings2.svg") %>"><span class="nav-label">Settings</span>
                </a>
                <a href="<%= session_path(@conn, :delete2, @current_user) %>"><img class="side" src="<%= static_path(@conn, "/images/icons/svg/power.svg") %>"><span class="nav-label">Logout</span>
                </a>

              </li>
              <% end %>
              <% end %>

            </ul>
            <div id="overlay3"> </div>
          </nav>

        </header>
        <% end %>
        <% end %>


<main class="main" role="main">

          <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
          <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
          <%= render @view_module, @view_template, assigns %>

</main>


        <!-- If Not Logged In -->


          <!-- Page Content -->



    <script type="text/javascript" src="<%= static_path(@conn, "/js/app.js") %>"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
 <script>
 $('.btn-expand-collapse').click(function(e) {
				$('.navbar-primary').toggleClass('collapsed');
});

</script>
  </body>
  <footer>
          <div class="container">
                    <div class="row">
                        <div class="col-md-12 text-center credits">
                          <div class="credits">
                                  ICORUMORS.io
                          </div>
                        </div>
                    </div>
                    <div class="space-30"></div>
                    <div class="row">
                         <div class="col-md-12 text-center">
                            <div class="credits">
                              Copyright 2018 icorumors.io
                            </div>
                        </div>
                    </div>
                </div>

  <footer>
</html>
