
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Join ICO Rumors</title>
  <style>
  .masthead{
    width: 100%;
    height: 100%;
  }
  body {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-color: transparent!important;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
}

header.masthead {
  position: relative;
  background-color: #343a40;
  background: url("../img/bg-masthead.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 8rem;
  padding-bottom: 8rem;
}

header.masthead .overlay {
  position: absolute;
  background-color: #212529;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.3;
}

header.masthead h1 {
  font-size: 2rem;
}

@media (min-width: 768px) {
  header.masthead {
    padding-top: 12rem;
    padding-bottom: 12rem;
  }
  header.masthead h1 {
    font-size: 3rem;
  }
}

.showcase .showcase-text {
  padding: 3rem;
}

.showcase .showcase-img {
  min-height: 30rem;
  background-size: cover;
}

@media (min-width: 768px) {
  .showcase .showcase-text {
    padding: 7rem;
  }
}

.features-icons {
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.features-icons .features-icons-item {
  max-width: 20rem;
}

.features-icons .features-icons-item .features-icons-icon {
  height: 7rem;
}

.features-icons .features-icons-item .features-icons-icon i {
  font-size: 4.5rem;
}

.features-icons .features-icons-item:hover .features-icons-icon i {
  font-size: 5rem;
}

.testimonials {
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.testimonials .testimonial-item {
  max-width: 18rem;
}

.testimonials .testimonial-item img {
  max-width: 12rem;
  box-shadow: 0px 5px 5px 0px #adb5bd;
}

.call-to-action {
  position: relative;
  background-color: #343a40;
  background: url("../img/bg-masthead.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.call-to-action .overlay {
  position: absolute;
  background-color: #212529;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.3;
}

footer.footer {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.panel-group-ico{
  box-shadow: 1px 1px 1px grey;
}

.container{
  width: 100%!important;
  height: 100%!important;
}

#page{
  background-color: transparent!important;
  background: transparent!important;
}

#target{
  width: 100%;
  height: 100%;
}
canvas {
  width: 100%!important;
  height: 100%!important;
  z-index: 0;
  background-color: transparent!important;
}
#textnew{
  z-index: 2;
  position: absolute;
  padding-left: 90%;
  color: white;
  opacity: 0.7;
  font-size: 35px;
  font-weight: bold;
}
#textfront{
  z-index: 3;
  position: absolute;
  padding-left: 90%;
  color: yellow;
  font-size: 35px;
  font-weight: bold;
  opacity: 0.1;
  transparent: true;
}

#page{
  background-color: black!important;
}
#white{
  background-color: white!important;
  opacity: 0.90;
}
#clear{
  background-color: black!important;
}
.left-menu{
  z-index: 5;
}
.left-menu:hover ico1{
    display: block;
}
.right-menu{
  z-index: 5;
}
ico1{
  z-index: 5;
  display: none;
}

#mySidenav .text-white{
  color: white!important;
  z-index: 5!important;
}

.panel-heading{
  background-color: transparent!important;
}

.panel-body{
  background-color: transparent!important;
}

.list-group-item{
  background-color: transparent!important;
}

.icon-check{
  filter: invert(100%);
}

.features{
  width: 5%;
  height: 5%;
}
#mySidenav a {
    position: absolute; /* Position them relative to the browser window */
    left: -160px; /* Position them outside of the screen */
    transition: 0.3s; /* Add transition on hover */
    padding: 15px; /* 15px padding */
    width: 200px; /* Set a specific width */
    height: 80px;
    text-decoration: none; /* Remove underline */
    font-size: 20px; /* Increase font size */
    color: white; /* White text color */
    display: inline-block;
    border-radius: 10px 10px 10px 10px;
   /* Rounded corners on the top right and bottom right side */
}

#mySidenav a .icon-feature{
  display: inline-block;
  position: absolute;
  margin-top: -40px!important;
  margin-left: 40px!important;
  width: 60px;
  height: 60px;
}



#mySidenav2 a {
  right: -80px;
  position: absolute; /* Position them relative to the browser window */
  transition: 0.3s; /* Add transition on hover */
  padding: 15px; /* 15px padding */
  width: 100px; /* Set a specific width */
  text-decoration: none; /* Remove underline */
  font-size: 20px; /* Increase font size */
  color: white; /* White text color */
  border-radius: 0 5px 5px 0;
  z-index: 5!important;/* Rounded corners on the top right and bottom right side */
}

#nav-container #mySidenav a:hover #overlay{
  display: block;
}

#nav-container #mySidenav a:hover #overlay2{
  display: block;
}

#nav-container #mySidenav a:hover > div#tester1{
  display: block;
}

#mySidenav a:hover{
    left: 0!important; /* On mouse-over, make the elements appear as they should */
}

#mySidenav a:hover #projects{
    left: 0!important; /* On mouse-over, make the elements appear as they should */
}

/* The about link: 20px from the top with a green background */
#pricing {
    top: 105px;
    background-color: #2E2FE3;
}

#blog {
    top: 80px;
    background-color: #0080ff; /* Blue */
}

#projects {
    top: 20px;
    background-color: #700CBC; /* Red */
}

#projects:hover #overlay{
  display: block;
}

#about {
    top: 190px;
    background-color: #CE46A3; /* Red */
}

#portal {
    top: 275px;
    background-color: #9696F8/* Light Black */
}

#test-btn:hover{
  left: 0;
}

#overlay {
    position: fixed; /* Sit on top of the page content */
    display: none;
    margin-left: 600px;
    margin-top: 120px;/* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}

#overlay2 {
    position: fixed; /* Sit on top of the page content */
    display: none;
    margin-left: 260px;
    width: 90%; /* Full width (cover the whole page) */
    height: 90%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}

#overlay-back {
    position: fixed; /* Sit on top of the page content */
    display: block;
    border-radius: 50px;
    margin-top: 60px;
    margin-left: 500px;
    width: 700px; /* Full width (cover the whole page) */
    height: 700px; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255,255,255,0.2); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}

#overlay-back2 {
    position: fixed; /* Sit on top of the page content */
    display: block;
    border-radius: 50px;
    margin-top: 60px;
    margin-left: 500px;
    width: 700px; /* Full width (cover the whole page) */
    height: 700px; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255,255,255,0.2); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}

#tester1{
  display: none;
}

#feature-list{
  float: right;
  color: white!important;
  margin-left: 0px!important;
  z-index: 5!important;
  position: absolute;
}

#overlay .features{
  float: right;
  width: 5%!important;
  height: 5%!important;
  margin-left: 100px!important;
}

.baseline{
  padding-top: 20px!important;
  padding-left: 10%!important;
}

.one{
  padding-top: 20px!important;
  margin-right: 80%!important;
}

.two{
  padding-top: 20px!important;
  margin-right: 71.5%!important;
}
.three{
  padding-top: 20px!important;
  margin-right: 82%!important;
}
.four{
  padding-top: 20px!important;
  margin-right: 80.5%!important;
}
.five{
  padding-top: 20px!important;
  margin-right: 71.3%!important;
}
.six{
  padding-top: 20px!important;
  margin-right: 82%!important;
}

.icon-check .features{
  float: left!important;
}

.masthead{
  margin-left: -240px;
  margin-top: -60px;
}

#white-trans{
  background-color: white;
  opacity: 0.7;
}

#overlay #container-features{
  margin-top: -60px!important;
}

.feature2{
  position: absolute;
  margin-left: 80%!important;
  margin-top: -45px!important;
  width: 10%!important;
  height: 35%!important;
}

  </style>
  </head>




  <body id="page">
      <div class="row" id="nav-container">
        <div class="col-2" id="right-slide">
            <div id="mySidenav">
             <a href="#" id="projects">Features<img class="icon-check icon-feature m-auto d-flex side left-menu text-white" src="<%= static_path(@conn, "/images/icons/svg/cubes.svg") %>">

               <div id="overlay">
                 <div id="container-features">
                 <div class="row">
                   <div id="overlay-back2"></div>
                   <h1 class="baseline"> Features </h3>
                 </div>
                 <div class="row">
                   <img class="icon-check features m-auto d-flex side left-menu text-white" src="<%= static_path(@conn, "/images/icons/svg/scale.svg") %>">
                    <h3 class="one">Even the scales</h3>
                 </div>
                   <div class="row">
                     <img class="icon-check features m-auto d-flex side left-menu text-white" src="<%= static_path(@conn, "/images/icons/svg/share2.svg") %>">
                     <h3 class="two"> Helping You Connect the Dots</h3>
                   </div>
                   <div class="row">
                     <img class="icon-check features m-auto d-flex side left-menu text-white" src="<%= static_path(@conn, "/images/icons/svg/globe.svg") %>">
                     <h3 class="three">Fast Results</h3>
                   </div>
                   <div class="row">
                     <img class="icon-check features m-auto d-flex side left-menu text-white" src="<%= static_path(@conn, "/images/icons/svg/rocket-rotated-45.svg") %>">
                     <h3 class="four"> Updated Daily</h3>
                   </div>
                   <div class="row">
                     <img class="icon-check features m-auto d-flex side left-menu text-white" src="<%= static_path(@conn, "/images/icons/svg/medical-pulse.svg") %>">
                     <h3 class="five">Our Finger is on the ICO Pulse</h3>
                   </div>
                   <div class="row">
                     <img class="icon-check features m-auto d-flex side left-menu text-white" src="<%= static_path(@conn, "/images/icons/svg/book-hardcover-open-writing.svg") %>">
                     <h3 class="six"> Easy to Use</h3>
                   </div>
             </div>
           </div>
             </a>
             <a href="#" id="pricing">Pricing<img class="icon-check icon-feature m-auto d-flex side left-menu text-white" style="margin-top: -36px!important;" src="<%= static_path(@conn, "/images/icons/svg/bitcoin2.svg") %>">
               <div id="overlay2">
                 <div class="row">
                   <header class="masthead text-black text-center">
                     <div id="overlay-back"></div>
                     <div class="container">
                       <div class="row">
                         <div class="col-xl-9 mx-auto">
                           <h1 class="mb-5">Sign Up Now!</h1>
                           <p> With access to the earliest ICO Startups to give your research the head start you deserve, you will get access to all features on the site from downloading content, to API access for developers</p>
                         </div>
                         <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
                           <table class="table table-bordered">
                           <thead>
                             <th></th>
                             <th> Trial </th>
                             <th> Premium </th>
                           </thead>
                           <tbody>
                             <tr>
                             <td> Access to Unlimited Domains </td>
                             <td>  <img class="icon-check m-auto d-flex" src="<%= static_path(@conn, "/images/icons/png/circle-check-4x.png") %>"></td>
                             <td> <img class="icon-check m-auto d-flex" src="<%= static_path(@conn, "/images/icons/png/circle-check-4x.png") %>"> </td>
                           </tr>
                           <tr>
                             <td> Download Valuable Leads  </td>
                             <td>  <img class="icon-check m-auto d-flex" src="<%= static_path(@conn, "/images/icons/png/circle-check-4x.png") %>"></td>
                             <td>  <img class="icon-check m-auto d-flex" src="<%= static_path(@conn, "/images/icons/png/circle-check-4x.png") %>"></td>
                           </tr>
                           <tr>
                             <td> Access to our API (Coming Soon) </td>
                             <td>  <img class="icon-check m-auto d-flex" src="<%= static_path(@conn, "/images/icons/png/circle-check-4x.png") %>"></td>
                             <td>  <img class="icon-check m-auto d-flex" src="<%= static_path(@conn, "/images/icons/png/circle-check-4x.png") %>"></td>
                           </tr>
                           <tr>
                             <td> Cost </td>
                             <td>  Free for 7 Days</td>
                             <td>  $9.99/Month</td>
                           </tr>
                           </tbody>
                         </table>
                         </div>
                       </div>
                     </div>
                   </header>
                 </div>
             </div>
             </a>

             <a href="#" id="about">About<img class="icon-check icon-feature m-auto d-flex side left-menu text-white" style="margin-top: -36px!important;" src="<%= static_path(@conn, "/images/icons/svg/info-circle.svg") %>">
               <div id="overlay">
                 <div class="row">
                 </div>
               </div>
             </a>

             <a href="<%= session_path(@conn, :new) %>" id="portal">Login<img class="icon-check icon-feature m-auto d-flex side left-menu text-white" style="margin-top: -36px!important;" src="<%= static_path(@conn, "/images/icons/svg/power.svg") %>">
               <div id="overlay">
                 <div class="row">
                   </div>
                 </div>
             </a>
           </div>


        </div>
        <div class="col-8">
          <p id="textnew">ICORumors</p>
          <p id="textfront">ICORumors.IO</p>
          <img class="icon-check feature2 m-auto d-flex side left-menu text-white" src="<%= static_path(@conn, "/images/icons/svg/logo_ico.png") %>">
          <div id="target"></div>
      </div>
      <div class="col-2">
        <div id="mySidenav2" class="sidenav2">
          <a href="#" id="projects2">Features</a>
       </div>

      </div>
      </div>
      <div class="row">
        <div class="col-4">
          <img class="icon-check features m-auto d-flex side" src="<%= static_path(@conn, "/images/icons/svg/social-facebook-variant.svg") %>">
        </div>
        <div class="col-4">
          <img class="icon-check features m-auto d-flex side" src="<%= static_path(@conn, "/images/icons/svg/social-linkedin-variant.svg") %>">
        </div>
        <div class="col-4">
          <img class="icon-check features m-auto d-flex side" src="<%= static_path(@conn, "/images/icons/svg/social-reddit.svg") %>">
        </div>
      </div>
    </div>
    <script type="text/javascript">
    $(document).ready(function () {
        $("#sidebar").mCustomScrollbar({
            theme: "minimal"
        });

        $('#dismiss, .overlay').on('click', function () {
            // hide sidebar
            $('#sidebar').removeClass('active');
            // hide overlay
            $('.overlay').removeClass('active');
        });

        $('#sidebarCollapse').on('click', function () {
            // open sidebar
            $('#sidebar').addClass('active');
            // fade in the overlay
            $('.overlay').addClass('active');
            $('.collapse.in').toggleClass('in');
            $('a[aria-expanded=true]').attr('aria-expanded', 'false');
        });
    });
</script>
  </body>
  <script type="text/javascript" src="<%= static_path(@conn, "/js/three.min.js") %>"></script>
  <script type="text/javascript" src="<%= static_path(@conn, "/js/projector.js") %>"></script>
  <script type="text/javascript" src="<%= static_path(@conn, "/js/canvasrenderer.js") %>"></script>
  <script type="text/javascript" src="<%= static_path(@conn, "/js/main.js") %>"></script>



</html>
