
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Join ICO Rumors</title>
  <style>
  .masthead{
    width: 100%;
    height: 100%;
  }
  body {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-color: transparent!important;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
}

header.masthead {
  position: relative;
  background-color: #343a40;
  background: url("../img/bg-masthead.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 8rem;
  padding-bottom: 8rem;
}

header.masthead .overlay {
  position: absolute;
  background-color: #212529;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.3;
}

header.masthead h1 {
  font-size: 2rem;
}

@media (min-width: 768px) {
  header.masthead {
    padding-top: 12rem;
    padding-bottom: 12rem;
  }
  header.masthead h1 {
    font-size: 3rem;
  }
}

.showcase .showcase-text {
  padding: 3rem;
}

.showcase .showcase-img {
  min-height: 30rem;
  background-size: cover;
}

@media (min-width: 768px) {
  .showcase .showcase-text {
    padding: 7rem;
  }
}

.features-icons {
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.features-icons .features-icons-item {
  max-width: 20rem;
}

.features-icons .features-icons-item .features-icons-icon {
  height: 7rem;
}

.features-icons .features-icons-item .features-icons-icon i {
  font-size: 4.5rem;
}

.features-icons .features-icons-item:hover .features-icons-icon i {
  font-size: 5rem;
}

.testimonials {
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.testimonials .testimonial-item {
  max-width: 18rem;
}

.testimonials .testimonial-item img {
  max-width: 12rem;
  box-shadow: 0px 5px 5px 0px #adb5bd;
}

.call-to-action {
  position: relative;
  background-color: #343a40;
  background: url("../img/bg-masthead.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.call-to-action .overlay {
  position: absolute;
  background-color: #212529;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.3;
}

footer.footer {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.panel-group-ico{
  box-shadow: 1px 1px 1px grey;
}

.container{
  width: 100%!important;
  height: 100%!important;
}

#page{
  background-color: transparent!important;
  background: transparent!important;
}

#target{
  width: 100%;
  height: 100%;
}
canvas {
  width: 100%!important;
  height: 100%!important;
  z-index: 0;
  background-color: transparent!important;
}
#textnew{
  z-index: 2;
  position: absolute;
  padding-left: 20%;
  color: white;
  opacity: 0.7;
  font-size: 35px;
  font-weight: bold;
}
#textfront{
  z-index: 3;
  position: absolute;
  padding-left: 20%;
  color: yellow;
  font-size: 35px;
  font-weight: bold;
  opacity: 0.1;
  transparent: true;
}

#page{
  background-color: black!important;
}
#white{
  background-color: white!important;
  opacity: 0.90;
}
#clear{
  background-color: black!important;
}
.left-menu{
  z-index: 5;
}
.left-menu:hover ico1{
    display: block;
}
.right-menu{
  z-index: 5;
}
ico1{
  z-index: 5;
  display: none;
}
  </style>
  </head>

  <body id="page">
    <div class="container">
      <div class="row">
        <div class="col-2">
          <h1 class="left-menu text-white">Daily ICO Updates
          <ico1>TEST</ico1></h1>
        </div>
        <div class="col-8">
          <p id="textnew">ICORumors</p>
          <p id="textfront">ICORumors.IO</p>
          <div id="target"></div>
      </div>
      <div class="col-2">
        <h1 class="right-menu text-white">Find Startups before the Whales do</h1>
      </div>
    </div>
</div>
  </body>
  <script type="text/javascript" src="<%= static_path(@conn, "/js/three.min.js") %>"></script>
  <script type="text/javascript" src="<%= static_path(@conn, "/js/projector.js") %>"></script>
  <script type="text/javascript" src="<%= static_path(@conn, "/js/canvasrenderer.js") %>"></script>
  <script type="text/javascript" src="<%= static_path(@conn, "/js/main.js") %>"></script>



</html>
